/* Start Global Css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: DejaVu Sans;
    src: url(../fonts/DejaVuSans.ttf);
}

body {
    font-family: DejaVa Sans;
}

:root {
    --main-color: #59c6bc;
    --second-color: #fff568;
}

a {
    text-decoration: none;
}

/* End Global Css */

/* Start Header Css */
header {
    background-image: url(../images/Layer\ 8.svg);
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 722px;
}

/* Start Header Nav Css */
header nav#cust_nav{
    height: 12.743%;
    background-color: var(--main-color) !important;
}

header nav .container #navbarSupportedContent ul li.nav-item>a {
    color: #ffffff;
    font-size: 15px;
    line-height: 17px;
}

header #cust_nav .container #cust_brand {
    color: #ffffff;
    font-size: 27px;
    position: relative;
}

header #cust_nav .container #cust_brand span {
    position: absolute;
    top: 55%;
    right: 14.4%;
    color: #000;
    font-size: 21px;
}

/* 
header #cust-nav .container #cust-brand img {
    margin-left: 6px;
}

header nav .container #navbarSupportedContent ul li a{
    font-size: 15px;
    line-height: 17px;
}

header nav .container #navbarSupportedContent ul li a.nav-link.active {
    background-color: var(--second-color);
    border-radius: 25px;
    padding-right: 30px !important;
    padding-left: 30px !important;
    color: #000;
} 
*/

/* End Header Nav Css */
header div.container div.row div.col-lg-5 h1 {
    font-size: 51px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 110px;
}

header div.container div.row div.col-lg-5 p {
    font-size: 24px;
    line-height: 34px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 25px;
}

header div.container div.row div.col-lg-5>a {
    padding: 10px 50px;
    background-color: var(--second-color);
    border-radius: 25px;
    font-size: 24px;
    line-height: 34px;
    color: #505050;
    font-weight: 500;
}

/* End Header Css */

/* Media Q for Header */
@media screen and (max-width: 320px) {
    header .container .row .col-lg-5 h1 {
        font-size: 48px !important;
    }

    header .container .row .col-lg-5 p {
        font-size: 22px !important;
    }
}

@media screen and (max-width:480px) {}

@media screen and (max-width:600px) {}

@media screen and (max-width:768px) {}

@media screen and (max-width:900px) {}

@media screen and (max-width:1024px) {}

@media screen and (max-width:1200px) {}

/* Start Main Section Css */
section#our_activities.main_sec{
    padding: 1.899% 0;
}
section.main_sec>div.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.main_sec div.container div {
    width: calc((100% / 4) - 20px);
    padding: 30px;
    color: #ffffff;
    margin-top: 85px;
    margin-bottom: 85px;
    transition: 0.35s ease-out;
}

section.main_sec div.container div:hover {
    transform: translateY(-2.2px);
}

section.main_sec div.container div:first-child {
    margin-right: 10px;
}

section.main_sec div.container div:last-child {
    margin-left: 10px;
}

section.main_sec div.container div h4 {
    margin: 25px 0px;
}

section.main_sec div.container div img {
    display: inline-block;
    width: 70px;
    height: 70px;
}

section.main_sec div.container div.first {
    background-color: #2d98a2;
}

section.main_sec div.container div.second {
    background-color: #4fc5ba;
}

section.main_sec div.container div.third {
    background-color: #eb774c;
}

section.main_sec div.container div.fourth {
    background-color: #edbf47;
}

/* Media Q for Main_Sec */
@media screen and (max-width: 320px) {
    section.main_sec div.container {
        margin: 42.5px 0px !important;
    }

    section.main_sec div.container div {
        min-width: 95% !important;
    }
}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 768px) {
    section.main_sec div.container div {
        margin: 10px !important;
    }
}

@media screen and (max-width: 900px) {
    section.main_sec div.container {
        flex-wrap: wrap;
        margin-top: 85px;
        margin-bottom: 85px;
    }

    section.main_sec div.container div {
        width: calc((100% / 2) - 40px) !important;
        margin: 15px 20px !important;
    }
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 1200px) {}

/* End Main Section Css */

/* Start latest News Section Css */

.latest_news {
    background-color: #fafafa;
}

.latest_news .container {
    padding: 1.756% 0 9.864%;
}

.latest_news .container .content_on_top {
    text-align: center;
    margin-top: 40px;
}

.latest_news .container .content_on_top h3 {
    font-size: 24px;
    line-height: 34px;
    color: #505050;
    font-weight: 500;
}

.latest_news .container .content_on_top p {
    font-size: 14px;
    line-height: 34px;
    color: #59c6bc;
}

.latest_news .container .news {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.latest_news .container .news div {
    padding-bottom: 30px;
    background-color: #ffffff;
}

.row .news .col-lg-4 {
    width: 32.233333%;
}

.latest_news .container .news div :not(:first-child) {
    padding: 0px 20px
}

.latest_news .container .news div img {
    width: 100%;
    height: 230px;
    margin-bottom: 15px;
}

.latest_news .container .news div span {
    font-size: 15px;
    line-height: 34px;
    color: #737373;
}

.latest_news .container .news div h4 {
    font-size: 21px;
    line-height: 34px;
    color: #767676;
    font-weight: 500;
}

.latest_news .container .news div p {
    font-size: 16px;
    line-height: 27px;
    color: #999999;
}

.latest_news .container .news div a {
    display: inline-block;
    font-size: 18px;
    line-height: 34px;
    color: #505050;
    font-weight: 500;
    background-color: #fff568;
    padding: 5px 40px !important;
    border-radius: 30px;
    margin-right: 20px;
}

.latest_news .container .news div svg {
    padding-left: 0px !important;
    color: #59c6bc;
}


/* Media Q for latest news latest_news */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .latest_news .container .news {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .row .news .col-lg-4 {
        width: 100%;
    }

    .latest_news .container .row .news .latest_news .container .news div img {
        width: 50%;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* End latest News Section Css */

/* Start Section School Gools Css */
.school_gools {
    background-image: url(../images/Layer\ 12.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 21%;
}

.school_gools .overlay {
    background-color: #4fc5b9d0;
}

.school_gools .overlay .container {
    /* padding-top: 40px; */
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.school_gools .overlay .container .content_on_top {
    text-align: center;
}

.school_gools .overlay .container .content_on_top h3 {
    font-size: 24px;
    line-height: 34px;
    color: #ffffff;
    font-weight: 500;
}

.school_gools .overlay .container .content_on_top p {
    font-size: 14px;
    line-height: 34px;
    color: #ffffff;
}

.school_gools .overlay .container .row>.col-lg-3 {
    position: relative;
}

.school_gools .overlay .container .row>.col-lg-3 span {
    position: absolute;
    padding: 0 20px;
}

.school_gools .overlay .container .row>.col-lg-3 img {
    width: 81px;
    height: 71px;
}

.school_gools .overlay .container .row>.col-lg-3 h4 {
    font-size: 53px;
    line-height: 34px;
    color: #fefefe;
    font-weight: 400;
}

/* Media Q for School Gools .school_gools */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* End Section School Gools Css */


/* Start parents_saying */
section.parents_sayings {
    background-color: #ffffff;
}

section.parents_sayings .container {
    padding: 55px 0px;
}

section.parents_sayings .container .content_on_top {
    text-align: center;
}

section.parents_sayings .container .content_on_top h3 {
    font-size: 24px;
    line-height: 34px;
    color: #505050;
    font-weight: 500;
}

section.parents_sayings .container .content_on_top p {
    font-size: 14px;
    line-height: 34px;
    color: #59c6bc;
}

section.parents_sayings .container .content .first {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: calc(50% - 70px);
}

section.parents_sayings .container .content .first:first-child,
section.parents_sayings .container .content .first:nth-child(2) {
    margin-bottom: 60px;
}

section.parents_sayings .container .content .first:nth-child(3),
section.parents_sayings .container .content .first:nth-child(4) {
    margin-bottom: 25px;
}

section.parents_sayings .container .content .first:nth-child(1),
section.parents_sayings .container .content .first:nth-child(3) {
    margin-left: 70px;
}

section.parents_sayings .container .content .first img {
    width: 95px;
    height: 85px;
    border-radius: 17px;
}

section.parents_sayings .container .content .first .name_info_text {
    background-color: #f9f9f9;
    margin-right: 20px;
    position: relative;
    padding: 10px 20px;
    border-radius: 17px;
}

section.parents_sayings .container .content .first .name_info_text::before {
    content: "";
    border: 10px solid;
    border-color: transparent transparent transparent #f9f9f9;
    position: absolute;
    right: -20px;
    top: 10px;
}

section.parents_sayings .container .content .first .name_info_text h4 {
    font-size: 15px;
    line-height: 13px;
    color: #3e3e3e;
    font-weight: 700;
}

section.parents_sayings .container .content .first .name_info_text p {
    font-size: 14px;
    line-height: 19px;
    color: #505050;
    font-weight: 500;
}

section.parents_sayings .container .content .first .name_info_text ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

section.parents_sayings .container .content .first .name_info_text ul li:not(:first-child) {
    margin-right: 20px;
}

section.parents_sayings .container .content .first .name_info_text ul li svg {
    color: #4fc5ba;
    padding-left: 5px;
}

/* Media Q  */
@media only screen and (max-width: 768px) {
    section.parents_sayings .container .content .first {
        flex-wrap: wrap;
        width: 100%;
    }
}

/* End parents_saying */

/* Start Last Section (last_section) Css */
.last_section {
    background-color: #eef6f6;
}

.last_section .container {
    padding: 6.709% 0px;
    overflow: hidden;
}

.last_section .container .last_section_content :first-child,
.last_section .container .last_section_content :nth-child(2) {
    margin-left: 20px;
}

.last_section .container .row .img_class {
    background-image: url(../images/class\(4\)\ -\ Copy.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
    height: 335px;
    border-radius: 14px;
    width: calc(50% - 20px);
}

.last_section .container .row .contact_us,
.last_section .container .row .working_hours {
    padding: 20px 20px 30px 20px;
    width: calc(25% - 10px);
    background-color: #fff;
    overflow: hidden;
}

.last_section .container .row .contact_us h3,
.last_section .container .row .working_hours h3 {
    font-size: 21px;
    line-height: 33px;
    color: #505050;
    font-weight: 300;
    text-align: center;
}

.last_section .container .row .contact_us ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 75%;
}

/* .last_section .container .row .contact_us ul li{
    display: flex;
} */
.last_section .container .row .contact_us ul li svg {
    color: #4fc5ba;
}

.last_section .container .row .contact_us ul li {
    font-size: 16px;
    line-height: 22px;
    color: #505050;
    font-weight: 300;
    white-space: nowrap;
    margin-block-start: auto;
}

.last_section .container .row .working_hours p {
    font-size: 14px;
    line-height: 23px;
    color: #737373;
}

.last_section .container .row .working_hours ul {
    list-style-type: none;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.last_section .container .row .working_hours ul span {
    background-color: var(--second-color);
    padding: 9.5px 27px;
    border-radius: 7px;
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
}

.last_section .container .row .working_hours ul li {
    text-align: center;
}

.last_section .container .row .working_hours ul li:nth-child(2) span {
    padding: 9.5px 46.3px !important;
}

/* End Last Section (last_section) Css */

/* map Css */
.map {
    background-image: url(../images/Layer\ 28-map.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 336px;
    position: relative;
}

.map .overlay {
    background-color: #18181866;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.map .overlay span {
    background-color: #797979;
    margin-right: 15px;
}

.map .overlay span svg {
    color: #fff;
}

.map .overlay .feild {
    width: 33.3%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
    background-color: var(--main-color);
    border-radius: 10px;
    position: relative;
}

.map .overlay .feild::after {
    content: "";
    position: absolute;
    border: 15px solid;
    border-color: var(--main-color) transparent transparent transparent;
    left: 220px;
    top: 68px;

}


/* Start section Footer CSs */

section.footer .container footer{
    text-align: center;
    width: 100%;
    padding: 6.8% 0;
}

section.footer .container footer h3,
section.footer .container footer p,
section.footer .container footer ul{
    margin: 2.3% 0;
}

section.footer .container footer h3 {
    font-size: 41px;
    line-height: 17px;
    color: #656565;
    font-weight: bold;
}

section.footer .container footer p {
    font-size: 15px;
    display: inline-block;
    line-height: 23px;
    color: #555555;
    width: 69.8028%;
}
section.footer .container footer ul {
    list-style-type: none;
    writing-mode: vertical-rl;
    display: block;
    margin: auto;
}